
.player {
    position:absolute;
    transform:translate3d(-50%,-50%,0);
    transition:1s cubic-bezier(.02,1.23,.79,1.08);
}
.enemy {
    position:absolute;
    transition: 5s cubic-bezier(.27,.65,.65,1);
    /*animation: enemyPath 5s forwards;*/
}
.notDraggableImage {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes enemyPath {
    0%{
        transform: translate(0px, 200px);
    }
    100%{
        transform: translate(760px, 200px);
    }
}